.search {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  display: flex;
  padding: 13px 15px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  position: relative;
}

.search input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #808080;
  font-size: 14px;
  line-height: 18px;
  caret-color: #808080;
  font-weight: 300;
}

input::placeholder {
  color: #808080;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}

.search span {
  display: inline-block;
  cursor: pointer;
}

.error {
  border-color: #ef4646;
  box-shadow: 0px 1px 1px #ef464644;
}

.errorLabel {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  color: #ef4646;
}